
<div class="container" style="margin-bottom: 10px;">
  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
      <%= form_tag(employees_path, method: :get) do %>
      <%= text_field_tag :term %>
      <%= submit_tag 'Search' %>
      <% end %>      
    </div>
    <div>
      <select class="list">
        <option selected disabled>Department</option>
        <option value="IT">IT</option>
        <option value="Designer">Designer</option>
        <option value="Tester">Tester</option>
        <option value="Developer">Developer</option>
      </select>
    </div>
  </div>
</div>

<div class="container render">
    <div class="card-deck" style="display: flex; width: 60rem;">
        <% @employees.in_groups_of(3) do |group| %>
        <div class="row">
        <% group.compact.each do |employee| %>

      <div class="card" style="width: 18rem;">
        <%= image_tag employee.picture_url, class: "card-img-top", style: "width: 10rem; height: 10rem" if employee.picture.present? %>
        <div class="card-body">
            <div>
              <strong>Name:</strong>
              <%= employee.firstname %>
              <%= employee.lastname %>
            </div>
            <div>
              <strong>Email:</strong>
              <%= employee.email %>
            </div>
            
            <div>
              <strong>Phone:</strong>
              <%= employee.phone %>
            </div>

            <div>
              <strong>Address:</strong>
              <%= employee.address %>
            </div>

            <div>
              <strong>Employee:</strong>
              <%= employee.employee_id %>
            </div>

            <div>
              <strong>Department:</strong>
              <%= employee.department %>
            </div>
             <%= link_to 'Show', employee, class:"btn btn-primary" %>
             <%= link_to 'Edit', edit_employee_path(employee),class:"btn btn-primary" %>
             <%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-primary" %>
        </div>
      </div>
       <% end %>
     </div>
       <% end %>
    </div>
  </div>

<br>

<%= link_to 'New Employee', new_employee_registration_path, class:"btn btn-primary" %>

<script type="text/javascript">
  $("select.list").change(function(){
    var depname= $(this).val();
    //alert("You have selected the department- " + depname);
    $.ajax({
      type: "GET", 
      url: "/employees",
      data: {department: depname},
      success: function(data, textStatus, jqXHR){
        console.log(data);
        $(".render").empty();
        $(".render").append(data);
      },
      error: function(jqXHR, textStatus, errorThrown){}
    })
  });
            
</script>
