<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col">
      <strong>Firstname:</strong>
    </div>
    <div class="col">
      <%= @employee.firstname %>
    </div>
  </div>


<p>
  <strong>Lastname:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employee.gender %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @employee.employee_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department %>
</p>

</div>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
