

<div class="container">
  <div class="row">
    <div class="card-deck" style="width:60rem;">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
      <%= image_tag @employee.picture_url, class: "card-img" if @employee.picture.present? %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
           <div>
             <strong>Firstname:</strong>
             <%= @employee.firstname %>
           </div>

           <div>
             <strong>Lastname:</strong>
             <%= @employee.lastname %>
           </div>

           <div>
             <strong>Email:</strong>
             <%= @employee.email %>
           </div>

           <div>
             <strong>Gender:</strong>
             <%= @employee.gender %>
           </div>

           <div>
             <strong>Phone:</strong>
             <%= @employee.phone %>
           </div>

           <div>
             <strong>Address:</strong>
             <%= @employee.address %>
           </div>

           <div>
             <strong>Employee:</strong>
             <%= @employee.employee_id %>
           </div>

           <div>
             <strong>Department:</strong>
             <%= @employee.department %>
           </div>

           <div>
             <strong>DOB:</strong>
             <%= @employee.DOB %>
           </div>
        </div>
      </div>

    </div>
  </div>

  
