<%= stylesheet_link_tag 'resize' %>

<div class="container" style="justify-content: center;">
    <div class="card-deck" style="display: flex;">
      <div class="card" style="width: 20rem": >
        <%= image_tag @employee.picture_url, class: "card-img" if @employee.picture.present? %>
      </div>
      <div class="card" style="width: 20rem">
        <div class="card-body">
          <%= link_to '', edit_employee_path(@employee),class:"fa fa-pencil fa-2x"  %>
          <div>
            <strong>Firstname:</strong>
            <%= @employee.firstname %>
          </div>

          <div>
            <strong>Lastname:</strong>
            <%= @employee.lastname %>
          </div>

          <div>
            <strong>Email:</strong>
            <%= @employee.email %>
          </div>

          <div>
            <strong>Gender:</strong>
            <%= @employee.gender %>
          </div>

          <div>
            <strong>Phone:</strong>
            <%= @employee.phone %>
          </div>

          <div>
            <strong>Address:</strong>
            <%= @employee.address %>
          </div>

          <div>
            <strong>Employee:</strong>
            <%= @employee.employee_id %>
          </div>

          <div>
            <strong>Department:</strong>
            <%= @employee.department %>
          </div>

          <div>
            <strong>DOB:</strong>
            <%= @employee.DOB %>
          </div>

        </div>
      </div>
  </div>

  
