<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row no-gutters">
    <div class="col-6 col-md-4">
      <strong>Firstname:</strong>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <%= @employee.firstname %>
    </div>
  </div>


  <div class="row no-gutters">
    <div class="col-6 col-md-4">
      <strong>Lastname:</strong>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <%= @employee.lastname %>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-6 col-md-4">
      <strong>Email:</strong>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <%= @employee.email %>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-6 col-md-4">
      <strong>Gender:</strong>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
       <%= @employee.gender %>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-6 col-md-4">
      <strong>Phone:</strong>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <%= @employee.phone %>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-6 col-md-4">
      <strong>Address:</strong>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <%= @employee.address %>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-6 col-md-4">
      <strong>Employee:</strong>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <%= @employee.employee_id %>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-6 col-md-4">
      <strong>Department:</strong>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <%= @employee.department %>
    </div>
  </div>

</div>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
