<div class="container">

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <% if current_employee.has_role? :admin %>
        <th scope="col">Name</th>
        <% end %>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Reason</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
      <tbody>
        <% @leave_request.each do |leave_request| %>
        <tr>
         <% if current_employee.has_role? :admin %>
            <td><%= leave_request.employee.firstname %>
         <% end %>
         <td><%= leave_request.start_date %></td>
         <td><%= leave_request.end_date %></td>
         <td><%= leave_request.reason %></td>

         <% if current_employee.has_role? :admin %> 
            <% if !leave_request.approve && !leave_request.reject %>
               <td><%= link_to 'Approve', approve_leave_request_path(leave_request),
                method: :post, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-dark" %>
                  <%= link_to 'Reject', reject_leave_request_path(leave_request),
                method: :post, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-dark"%>
               </td>
            <% elsif leave_request.approve %>
               <td><font color="green">Approved</font></td>
            <% elsif leave_request.reject %>
               <td><font color="red">Rejected</font></td>
            <% end %>
         <% else %>
             <% if leave_request.approve %>
                <td><font color="green">Approved</font></td>
             <% end %>
             <% if leave_request.reject %>
                <td><font color="red">Rejected</font></td>
             <% end %>
        <% end %>
         
      </tr>
        <% end %>
      </tbody>
   </table>
  
  <% if !current_employee.has_role? :admin %> 
  <%= link_to 'New ', new_leave_request_path , class:"btn btn-outline-dark" %>
  <% end %>

</div>
      



